

.button-container {

    display: flex;
    width: fit-content;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 2%;
    justify-content: space-between;
}

button {
    font-size: 0.7em;
    border-radius: 8%;
}